.usersList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem 1rem;
  background-color: azure;
}
.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem 1rem;
  background-color: rgb(21, 84, 167);
}
.id {
  flex: 1;
}
.name {
  flex: 3;
}
.type {
  flex: 3;
}
.node {
  flex: 3;
}
.Nums{
  display: flex;
  margin: 1rem;
  padding: 1rem 1rem;
}
.Nums>*{
  margin: 0.3rem;
  background-color: teal;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 7px;
}
